* {
	box-sizing:border-box;
}

body {
	margin:0;
	padding:0;
	background:url('bg.gif') repeat scroll 0% 0% #282828;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
	cursor:pointer;
	text-decoration:none;
	color:inherit;
}

a:hover {
	opacity:.6;
}

ul {
	display:table;
	list-style:none;
	margin-left:0;
	padding:0;
}

li {
	display:block;
	margin-bottom:1em;
}

#TextEntry {
	display:inline-block;
	margin-left:20px;
	margin-top:20px;
	background:#fff;
	border-radius:4px;
	height:auto;
	padding:1em;
	max-width:30%;
	vertical-align:top;
}

fieldset {
	border:none;
	padding:.25em;
}

label {
	display:block;
	font-style:normal;
}

input, textarea {
	margin-top:10px;
	padding:.5em;
	border-radius:4px;
	border:solid thin #ccc;
	width:100%;
}

fieldset.center {
	display:block;
	width:100%;
	margin-top:20px;
}

fieldset.center li {
	display:inline-block;
	margin-left:10px;
}

input.button {
	padding:1em;
	background:#333;
	color:#fff;
	border-radius:4px;
	border:none;
}

input.button:hover {
	background:#ccc;
}

input[type="radio"] {
	display:inline-block;
	text-align:left;
	margin-right:1em;
	width:auto;
	padding:.25em;
}

#Container {
	width:60%;
	display:inline-block;
	height:auto;
	margin-left:20px;
	padding:1em;
	background:#fff;
	margin-top:20px;
	border-radius:4px;
	overflow:hidden;
}

#Output {
	width:100%;
	font-size:.9em;
	background:#fff;
}

div.thinbar {
	width:100%;
	height:1.6em;
	overflow:hidden;
	margin-bottom:1em;
	vertical-align:top;
}
div#title {
	display:inline-block;
	margin-right:.1em;
}

div.thinbar img {
	height:25px;
}

.PPW, .BN {
	background:#C20000;
	color:#fff;
}

.PPW a, .BN a, .Fran a, .LS a {
	color:#fff;
	text-decoration:none;
}

.PPW a:hover, .BN a:hover, .Fran a:hover, .LS a:hover {
	text-decoration:underline;
}

.Fran, .LS {
	background:#062752;
}

.CC {
	background:#bcbdc0;
}

div.headline {
	font-size:.9em;
	margin-left:1em;
	display:inline-block;
	width:auto;
	max-width:25em;
	height:1.6em; 
	overflow:hidden; 
	vertical-align:top;
	margin-top:4px;
}

div.readMore {
	display:inline-block;
	font-size:.8em;
	float:right;
	margin-right:.5em;
	font-weight:bold;
	margin-top:.5em;
	text-transform:uppercase;
}

#slidingDiv, #slidingDiv_2{
	height:auto;
	background-color: #ccc;
	display:none;
	color:#333;
	border-radius:4px;
}

.show_hide {
	color:#333;
	border-radius:4px;
	border:none;
	margin-top:5px;
}

#TBarSelect {
	width:60%;
	height:auto;
	padding:1em;
	border-radius:4px;
	margin:20px auto;
	background:#fff;
	color:#333;
	text-align:center;
}

#TBarSelect p {
	border-bottom:solid thin #ccc;
}

ul.mainAdmin {
	width:98%;
	margin:0 auto;
	text-align:left;
}

ul.mainAdmin li {
	background:none;
	display:inline-block;
	margin-left:60px;
	padding:.25em;
	color:#333;
	border-radius:4px;
}

ul.mainAdmin li:hover {
	background:#ccc;
	color:#fff;
}

pre, code, pre code {
	margin:10px 5px !important;
	white-space:pre-wrap;
	padding:1em .15em;
}

span.notes, span.url-link {
	font-size:.9em;
	font-style:italic;
}

span.notes {
	display:block;
	margin-top:5px;
}

span.url-link {
	color:#c20000;
}

#Success {
	width:60%;
	background:#fff;
	padding:1em;
	border-radius:4px;
	margin:10% auto;
}

nav.adminNav {
	width:100%;
	background:#333;
	color:#eee;
	padding:1em;
}

nav.adminNav span.mainReturn {
margin-left:10px;
padding:.5em;
}

nav.adminNav span.mainReturn:hover {
	background:#ccc;
	color:#333;
	border-radius:4px;
}

select {
	width:100%;
	padding:1em;
}

div.variableHeader {
	display:inline-block;
	font-weight:bold;
	font-size:1em;
	background-size:100%;
	width:175px;
	height:25px;
}

span.headerText {
	margin-left:1em;
	margin-top:.2em;
	text-transform:uppercase;
	display:inline-block;
	font-size:.9em;
}

@media only screen and (max-width:600px) and (min-width:2px) {

	div.thinbar {
		height:auto;
		padding:0 0 .15em 0;
	}

div.readMore {
		width:100%;
		display:block;
		font-size:1em;
		text-align:right;

	}


	}

@media only screen and (max-width:480px) and (min-width:2px) {
	
	body {
		font-size:80%;
	}

	div#title {
		margin-bottom:.75em;
	}

	div.headline {
		display:block;
		text-align:left;
		height:auto;
		font-size:1em;
		max-width:none;
		width:100%;
		margin-left:.25em;
		line-height:1.2;
		overflow:visible;
		vertical-align:baseline;
		margin-top:0;
		margin-top:.25em;
		margin-bottom:.25em;
		padding:.25em;

	}
	
	span.headerText {
	margin-left:.3em;
	margin-top:.35em;

}

}

