
a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}

a:hover {
	color:inherit;
	text-decoration:underline;
}

div#weatherbars {
width:650px; 
height:25px; 
background:#c20000; 
overflow:hidden;
margin-bottom:5px;
}

div#headline {
	display:inline-block; 
	margin-left:10px; 
	color:#fff; 
	font-family:Arial, Helvetica; 
	font-size:.8em; 
	vertical-align:top;
	margin-top:5px;
	width:275px;
	overflow:hidden;
}

div#readmore {
	display: inline-block; 
	float:right; 
	margin-right:10px; 
	margin-top:6px; 
	font-size:.75em; 
	color:#fff; 
	font-weight:bold; 
	vertical-align:baseline; 
	font-family:Arial, Helvetica; 
}

div#franchisebars {
width:650px; 
height:25px; 
background:#062752; 
overflow:hidden;
margin-bottom:5px;
}